[Unit]
Description=Valdis bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
Environment="DISCORD_API_KEY=<SECRET>"
User=<USER>
ExecStart=/opt/valdis-bot-public/start.sh

[Install]
WantedBy=multi-user.target